<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}#home">
      <h1 class="fw-bold fs-3 my-auto text-cyan">StarWord.</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-500">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('home') }}#home">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}#about">Tentang Kami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}#features">Layanan</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link badge-starword rounded-pill text-white py-1 px-2" href="{{ url_for('ilt_session') }}">Menuju Sesi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>